---
import Title from '../../../ui/Title.astro'
import MiniCard from '../ui/MiniCard'
import type { default_data } from '../../../../utils/interfaces/default-data'
import type { most_popular_manga } from '../../../../utils/interfaces/most-popular-manga'
import { dataMPA, dataMPM, dataTAA } from '../../../../utils/storage/data-index'

const $dataMPA: default_data = dataMPA
const $dataMPM: most_popular_manga = dataMPM
const $dataTAA: default_data = dataTAA
---

<aside class='gap-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'>
  <article>
    <Title text='Top Airing Anime' />
    <section>
      {$dataTAA?.data?.map((data) => <MiniCard title={data?.title} text={data?.rating} highlight={`⭐ ${data?.rank}`} image={data?.images.webp.large_image_url} />)}
    </section>
  </article>

  <article>
    <Title text='Most Popular Anime' />
    <section>
      {$dataMPA?.data?.map((data) => <MiniCard title={data?.title} text={data?.rating} highlight={`⭐ ${data?.popularity}`} image={data?.images.webp.large_image_url} />)}
    </section>
  </article>

  <article>
    <Title text='Most Popular Manga' />
    <section>
      {$dataMPM?.data?.map((data) => <MiniCard title={data?.title} text={data?.status} highlight={`⭐ ${data?.popularity}`} image={data?.images.webp.large_image_url} />)}
    </section>
  </article>
</aside>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  aside {
    grid-area: aside;
    background-color: #181818;
    padding: 1rem;
    border-radius: 8px;
  }
  @media screen and (min-width: 1050px) {
    aside {
      grid-template-columns: 1fr;
    }
  }
</style>
