---
import type { default_data } from '../../../../utils/interfaces/default-data'
import type { latest_episodes_updates } from '../../../../utils/interfaces/latest-episodes-updates'
import { dataLEU, dataTUA, dataPM, dataPN } from '../../../../utils/storage/data-index'
import DefaultCard from '../../../ui/DefaultCard'
import data from '../../../../data.json' assert { type: 'json' }
import MainContent from '../ui/MainContent'
const { LEU, TUA, TPM, TPN } = data.content

// Data API
const $dataLEU: latest_episodes_updates = dataLEU
const $dataTUA: default_data = dataTUA
const $dataPM: default_data = dataPM
const $dataPN: default_data = dataPN
---

<main class='flex flex-col gap-8'>
  <MainContent title={LEU.title} description={LEU.description}>
    {
      $dataLEU?.data?.map((data) => (
        <div class='swiper-slide'>
          <DefaultCard
            client:load
            id={data.entry.mal_id}
            type={'anime'}
            image={data.entry.images.webp.large_image_url}
            title={data.entry.title}
            highlightText={`Episode: ${data.episodes[0].mal_id}`}
            highlightClass='bottom-12 px-2 rounded-r-lg  '
          />
        </div>
      ))
    }
  </MainContent>

  <MainContent title={TUA.title} description={TUA.description}>
    {
      $dataTUA?.data?.map((data) => (
        <div class='swiper-slide'>
          <DefaultCard
            client:load
            id={data.mal_id}
            type={'anime'}
            title={data.title}
            highlightText={String(data.year ? data.year : 'TBA')}
            image={data.images.webp.large_image_url}
            highlightClass='top-0 right-0 left-0 text-center p-1 font-semibold'
          />
        </div>
      ))
    }
  </MainContent>

  <MainContent title={TPM.title} description={TPM.description}>
    {
      $dataPM?.data?.map((data) => (
        <div class='swiper-slide'>
          <DefaultCard
            client:load
            id={data.mal_id}
            type={'manga'}
            title={data.title}
            highlightText={`⭐ ${data.score}`}
            image={data.images.webp.large_image_url}
            highlightClass='absolute top-2 right-2 rounded-xl px-2 bg-dark-transparent'
          />
        </div>
      ))
    }
  </MainContent>

  <MainContent title={TPN.title} description={TPN.description}>
    {
      $dataPN?.data?.map((data) => (
        <div class='swiper-slide'>
          <DefaultCard
            client:load
            id={data.mal_id}
            title={data.title}
            type={'manga'}
            highlightText={`⭐ ${data.score}`}
            image={data.images.webp.large_image_url}
            highlightClass='absolute top-2 right-2 rounded-xl px-2 bg-dark-transparent'
          />
        </div>
      ))
    }
  </MainContent>
</main>

<style>
  main {
    grid-area: main;
    background-color: #161922;
  }
</style>
